<% content_for :head  do %>
  <%= stylesheet_link_tag "mobile" %>
<% end %>
<body class='mobile'>
<%= image_tag "westfield_disc.png", id:'westfield-logo', class:'animated flip infinite'%>
<%= javascript_tag do %>
  window.onload = function(){
    var dragAndDrop = new DragAndDrop();
    dragAndDrop.setUp();
  };
<% end %>
</body>
