video{
  border-radius:25px;
  position:fixed;
  top:50%;
  left:50%;
  margin-top: -300px;
  margin-left: -500px;
  z-index:1;
}

.result-video {
  z-index:2;
  display:none;
}

#end{
  display:none;
}

#end.show {
  display:block;
  position:fixed;
  top:50%;
  left:50%;
  z-index:10;
  height:600px;
  width:1000px;
  border:1px solid red;
  margin-top: -300px;
  margin-left: -500px;
  background-color:white;
}
